/* styles.css */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f9f9f9;
  padding: 1rem;
  text-align: center;
}

h1 {
  color: #333;
}

main {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  max-width: 50%;
  height: 50%;
  }


.recipe {
  width: 45%;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-content {
  padding: 1rem;
}

.recipe-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.recipe-description {
  color: #777;
  margin-bottom: 1rem;
}

.explore-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.explore-link:hover {
  background-color: #0056b3;
}
