<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <a class="recipe-hero-link__item__text" href="https://www.allrecipes.com/recipes/"></a>
  <section ng-controller="ar_controllers_top_nav" ng-init="init()">
    <ul class="ar-nav-section">
        <class="ar-logo-tab">
            <a href="https://www.allrecipes.com" data-header-link-tracking='{"label": "Brand Logo"}' aria-label="Allrecipes home page">
                <div class="ar-logo" ng-click="setAnalyticsCookie('ARlogo')">
<img alt="Allrecipes" height="36" src="https://secureimages.allrecipes.com/ar-images/ARlogo.svg" width="96" />                </div>
            </a>             
  <title>AllRecipes</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    <h1>Featured Recipes</h1>
    <p>Your one-stop destination for delicious and diverse culinary delights</p>
  </header>
  <main>
    <section class="recipe">
      <img src="C:\Assignment_Coding_Blocks\download (1).jpg" alt="Chicken Ghee Roast">
      <div class="recipe-content">
        <h2 class="recipe-title">Chicken Ghee Roast</h2>
        <p class="recipe-description">A classic Mangalorean style Ghee Roast chicken, is a traditional recipe from the kitchen of Mangalorean households. A combination of succulent pieces of chicken marinated and cooked in a robust masala cooked in rich ghee. This recipe will literally leave your family asking for more.</p>
        <a href="C:\Assignment_Coding_Blocks\Chicken Ghee Roast.html" class="explore-link">Explore Recipe</a>
      </div>
    </section>

    <section class="recipe">
      <img src="C:\Assignment_Coding_Blocks\download.jpg" alt="Spicy Shrimp Tacos">
      <div class="recipe-content">
        <h2 class="recipe-title">Spicy Shrimp Tacos</h2>
        <p class="recipe-description">Get ready to spice up your mealtime with our mouthwatering Spicy Shrimp Tacos. These tantalizing tacos combine juicy shrimp with a fiery kick of spices and tangy slaw. Quick and easy to make, they're guaranteed to become a family favorite.</p>
        <a href="C:\Assignment_Coding_Blocks\Shrimps.html" class="explore-link">Explore Recipe</a>
      </div>
    </section>
  </main>
  <section class="hero-link  nav-tab__options recipe-nav-tab__options">
    <div class="grid underline_hero_link">
        <ul class="browse-hubs">
                <li class="browse-hubs__categories">
                    <h3>
                        Meal Type
                    </h3><span class="icon--chevron-right"></span>

                    <ul class="browse-hubs__subcategories">
<li>
                                <a href="https://www.allrecipes.com/recipes/76/appetizers-and-snacks/" data-header-link-tracking='{"label": "Browse Recipes > Appetizers & Snacks"}' ng-click="setAnalyticsCookie('browse|appetizers \u0026 snacks')" title="Appetizers & Snacks Recipes">
                                    Appetizers &amp; Snacks
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/78/breakfast-and-brunch/" data-header-link-tracking='{"label": "Browse Recipes > Breakfast & Brunch"}' ng-click="setAnalyticsCookie('browse|breakfast \u0026 brunch')" title="Breakfast & Brunch Recipes">
                                    Breakfast &amp; Brunch
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/79/desserts/" data-header-link-tracking='{"label": "Browse Recipes > Desserts"}' ng-click="setAnalyticsCookie('browse|desserts')" title="Desserts Recipes">
                                    Desserts
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/17562/dinner/" data-header-link-tracking='{"label": "Browse Recipes > Dinner"}' ng-click="setAnalyticsCookie('browse|dinner')" title="Dinner Recipes">
                                    Dinner
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/77/drinks/" data-header-link-tracking='{"label": "Browse Recipes > Drinks"}' ng-click="setAnalyticsCookie('browse|drinks')" title="Drinks Recipes">
                                    Drinks
                                </a>
                            </li>
                    </ul>
                </li>
                <li class="browse-hubs__categories">
                    <h3>
                        Ingredient
                    </h3><span class="icon--chevron-right"></span>

                    <ul class="browse-hubs__subcategories">
<li>
                                <a href="https://www.allrecipes.com/recipes/200/meat-and-poultry/beef/" data-header-link-tracking='{"label": "Browse Recipes > Beef"}' ng-click="setAnalyticsCookie('browse|beef')" title="Beef Recipes">
                                    Beef
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/201/meat-and-poultry/chicken/" data-header-link-tracking='{"label": "Browse Recipes > Chicken"}' ng-click="setAnalyticsCookie('browse|chicken')" title="Chicken Recipes">
                                    Chicken
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/95/pasta-and-noodles/" data-header-link-tracking='{"label": "Browse Recipes > Pasta"}' ng-click="setAnalyticsCookie('browse|pasta')" title="Pasta Recipes">
                                    Pasta
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/205/meat-and-poultry/pork/" data-header-link-tracking='{"label": "Browse Recipes > Pork"}' ng-click="setAnalyticsCookie('browse|pork')" title="Pork Recipes">
                                    Pork
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/416/seafood/fish/salmon/" data-header-link-tracking='{"label": "Browse Recipes > Salmon"}' ng-click="setAnalyticsCookie('browse|salmon')" title="Salmon Recipes">
                                    Salmon
                                </a>
                            </li>
                    </ul>
                </li>
                <li class="browse-hubs__categories">
                    <h3>
                        Diet &amp; Health
                    </h3><span class="icon--chevron-right"></span>

                    <ul class="browse-hubs__subcategories">
<li>
                                <a href="https://www.allrecipes.com/recipes/739/healthy-recipes/diabetic/" data-header-link-tracking='{"label": "Browse Recipes > Diabetic"}' ng-click="setAnalyticsCookie('browse|diabetic')" title="Diabetic Recipes">
                                    Diabetic
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/741/healthy-recipes/gluten-free/" data-header-link-tracking='{"label": "Browse Recipes > Gluten Free"}' ng-click="setAnalyticsCookie('browse|gluten free')" title="Gluten Free Recipes">
                                    Gluten Free
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/84/healthy-recipes/" data-header-link-tracking='{"label": "Browse Recipes > Healthy"}' ng-click="setAnalyticsCookie('browse|healthy')" title="Healthy Recipes">
                                    Healthy
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/1232/healthy-recipes/low-calorie/" data-header-link-tracking='{"label": "Browse Recipes > Low Calorie"}' ng-click="setAnalyticsCookie('browse|low calorie')" title="Low Calorie Recipes">
                                    Low Calorie
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/1231/healthy-recipes/low-fat/" data-header-link-tracking='{"label": "Browse Recipes > Low Fat"}' ng-click="setAnalyticsCookie('browse|low fat')" title="Low Fat Recipes">
                                    Low Fat
                                </a>
                            </li>
                    </ul>
                </li>
                <li class="browse-hubs__categories">
                    <h3>
                        Seasonal
                    </h3><span class="icon--chevron-right"></span>

                    <ul class="browse-hubs__subcategories">
<li>
                                <a href="https://www.allrecipes.com/recipes/630/everyday-cooking/seasonal/summer/" data-header-link-tracking='{"label": "Browse Recipes > Summer Recipes"}' ng-click="setAnalyticsCookie('browse|summer recipes')" title="Summer Recipes">
                                    Summer Recipes
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/16384/holidays-and-events/events-and-gatherings/carnivals-and-fairs/" data-header-link-tracking='{"label": "Browse Recipes > Carnival and Fair Food"}' ng-click="setAnalyticsCookie('browse|carnival and fair food')" title="Carnival and Fair Food Recipes">
                                    Carnival and Fair Food
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/17185/everyday-cooking/entertaining/" data-header-link-tracking='{"label": "Browse Recipes > Entertaining"}' ng-click="setAnalyticsCookie('browse|entertaining')" title="Entertaining Recipes">
                                    Entertaining
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/1640/holidays-and-events/labor-day/" data-header-link-tracking='{"label": "Browse Recipes > Labor Day"}' ng-click="setAnalyticsCookie('browse|labor day')" title="Labor Day Recipes">
                                    Labor Day
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/85/holidays-and-events/" data-header-link-tracking='{"label": "Browse Recipes > More Holidays & Events"}' ng-click="setAnalyticsCookie('browse|more holidays \u0026 events')" title="More Holidays & Events Recipes">
                                    More Holidays &amp; Events
                                </a>
                            </li>
                    </ul>
                </li>
                <li class="browse-hubs__categories">
                    <h3>
                        Dish Type
                    </h3><span class="icon--chevron-right"></span>

                    <ul class="browse-hubs__subcategories">
<li>
                                <a href="https://www.allrecipes.com/recipes/156/bread/" data-header-link-tracking='{"label": "Browse Recipes > Breads"}' ng-click="setAnalyticsCookie('browse|breads')" title="Breads Recipes">
                                    Breads
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/276/desserts/cakes/" data-header-link-tracking='{"label": "Browse Recipes > Cakes"}' ng-click="setAnalyticsCookie('browse|cakes')" title="Cakes Recipes">
                                    Cakes
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/96/salad/" data-header-link-tracking='{"label": "Browse Recipes > Salads"}' ng-click="setAnalyticsCookie('browse|salads')" title="Salads Recipes">
                                    Salads
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/138/drinks/smoothies/" data-header-link-tracking='{"label": "Browse Recipes > Smoothies"}' ng-click="setAnalyticsCookie('browse|smoothies')" title="Smoothies Recipes">
                                    Smoothies
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/94/soups-stews-and-chili/" data-header-link-tracking='{"label": "Browse Recipes > Soups, Stews & Chili"}' ng-click="setAnalyticsCookie('browse|soups, stews \u0026 chili')" title="Soups, Stews & Chili Recipes">
                                    Soups, Stews &amp; Chili
                                </a>
                            </li>
                    </ul>
                </li>
                <li class="browse-hubs__categories">
                    <h3>
                        Cooking Style
                    </h3><span class="icon--chevron-right"></span>

                    <ul class="browse-hubs__subcategories">
<li>
                                <a href="https://www.allrecipes.com/recipes/88/bbq-grilling/" data-header-link-tracking='{"label": "Browse Recipes > BBQ & Grilling"}' ng-click="setAnalyticsCookie('browse|bbq \u0026 grilling')" title="BBQ & Grilling Recipes">
                                    BBQ &amp; Grilling
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/1947/everyday-cooking/quick-and-easy/" data-header-link-tracking='{"label": "Browse Recipes > Quick & Easy"}' ng-click="setAnalyticsCookie('browse|quick \u0026 easy')" title="Quick & Easy Recipes">
                                    Quick &amp; Easy
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/253/everyday-cooking/slow-cooker/" data-header-link-tracking='{"label": "Browse Recipes > Slow Cooker"}' ng-click="setAnalyticsCookie('browse|slow cooker')" title="Slow Cooker Recipes">
                                    Slow Cooker
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/1227/everyday-cooking/vegan/" data-header-link-tracking='{"label": "Browse Recipes > Vegan"}' ng-click="setAnalyticsCookie('browse|vegan')" title="Vegan Recipes">
                                    Vegan
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/87/everyday-cooking/vegetarian/" data-header-link-tracking='{"label": "Browse Recipes > Vegetarian"}' ng-click="setAnalyticsCookie('browse|vegetarian')" title="Vegetarian Recipes">
                                    Vegetarian
                                </a>
                            </li>
                    </ul>
                </li>
                <li class="browse-hubs__categories">
                    <h3>
                        World Cuisine
                    </h3><span class="icon--chevron-right"></span>

                    <ul class="browse-hubs__subcategories">
<li>
                                <a href="https://www.allrecipes.com/recipes/227/world-cuisine/asian/" data-header-link-tracking='{"label": "Browse Recipes > Asian"}' ng-click="setAnalyticsCookie('browse|asian')" title="Asian Recipes">
                                    Asian
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/233/world-cuisine/asian/indian/" data-header-link-tracking='{"label": "Browse Recipes > Indian"}' ng-click="setAnalyticsCookie('browse|indian')" title="Indian Recipes">
                                    Indian
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/723/world-cuisine/european/italian/" data-header-link-tracking='{"label": "Browse Recipes > Italian"}' ng-click="setAnalyticsCookie('browse|italian')" title="Italian Recipes">
                                    Italian
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/728/world-cuisine/latin-american/mexican/" data-header-link-tracking='{"label": "Browse Recipes > Mexican"}' ng-click="setAnalyticsCookie('browse|mexican')" title="Mexican Recipes">
                                    Mexican
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/15876/us-recipes/southern/" data-header-link-tracking='{"label": "Browse Recipes > Southern"}' ng-click="setAnalyticsCookie('browse|southern')" title="Southern Recipes">
                                    Southern
                                </a>
                            </li>
                    </ul>
                </li>
                <li class="browse-hubs__categories">
                    <h3>
                        Special Collections
                    </h3><span class="icon--chevron-right"></span>

                    <ul class="browse-hubs__subcategories">
<li>
                                <a href="https://www.allrecipes.com/recipes/17235/everyday-cooking/allrecipes-magazine-recipes/" data-header-link-tracking='{"label": "Browse Recipes > Allrecipes Magazine Recipes"}' ng-click="setAnalyticsCookie('browse|allrecipes magazine recipes')" title="Allrecipes Magazine Recipes">
                                    Allrecipes Magazine Recipes
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/16791/everyday-cooking/special-collections/web-show-recipes/food-wishes/" data-header-link-tracking='{"label": "Browse Recipes > Food Wishes with Chef John"}' ng-click="setAnalyticsCookie('browse|food wishes with chef john')" title="Food Wishes with Chef John Recipes">
                                    Food Wishes with Chef John
                                </a>
                            </li>
<li>
                                <a href="https://www.allrecipes.com/recipes/22908/everyday-cooking/special-collections/new/" data-header-link-tracking='{"label": "Browse Recipes > Our Newest Recipes"}' ng-click="setAnalyticsCookie('browse|our newest recipes')" title="Our Newest Recipes">
                                    Our Newest Recipes
                                </a>
                            </li>
<li>
                                <a href="http://dish.allrecipes.com/trusted-brand-pages/" data-header-link-tracking='{"label": "Browse Recipes > Trusted Brands"}' ng-click="setAnalyticsCookie('browse|trusted brands')" title="Trusted Brands Recipes">
                                    Trusted Brands
                                </a>
                            </li>
                    </ul>
                </li>
        </ul>
    </div>
</section>
</body>
</html>
